#quizz-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.score {
  font-size: 72pt;
  margin: 50px 0;
  opacity: 0;
  transition: opacity 1s ease-out 0.3s;
}

.visible-score {
  opacity: 1;
}

.low-score {
  color: red;
}

.medium-score {
  color: orange;
}

.high-score {
  color: rgb(90, 230, 90);
}