<ion-header>
  <ion-toolbar [ngClass]="{ 'hideElement': !isQuizzActive }">
    <ion-progress-bar [value]="progressValue"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <swiper-container #mainSwiperContainer id="mainSwiperContainer">
    <swiper-slide>
      <app-start-quizz (onStartQuizz)="startQuizz()"></app-start-quizz>
    </swiper-slide>
    <swiper-slide>
      <swiper-container #questionsSwiperContainer>
        @for (question of questions; track $index) {
        <swiper-slide>
          <app-question [options]="question.options" [questionWord]="question.word"
            (onAnswer)="checkAnswer($event)"></app-question>
        </swiper-slide>
        }
      </swiper-container>
    </swiper-slide>
    <swiper-slide>
      <app-quizz-result></app-quizz-result>
    </swiper-slide>
  </swiper-container>
</ion-content>

<ion-footer>
  <ion-button [ngClass]="{ 'hideElement': !isQuizzActive }" expand="full" color="secondary" [disabled]="isNextButtonBlocked" (click)="moveToNextQuestion()">
    Continuar
  </ion-button>
</ion-footer>