<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quizz</ion-title>
    <ion-progress-bar value="0.75"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quizz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="question">
      <h4>
        ¿Qué significa la siguiente palabra?
      </h4>
      <ion-text color="primary">
        <h2><i>Obliterar</i></h2>
      </ion-text>
    </div>

    <div class="options-group">
      @for (option of options; track $index) {
        <ion-button
          class="ion-text-wrap"
          expand="block"
          fill="solid"
          [color]="getButtonColor(option.status)"
          (click)="answerQuestion($index)">
          {{ option.text }}
        </ion-button>
      }
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="actions">
    <ion-button
      expand="full"
      color="secondary"
      [disabled]="!hasUserAnswered"
      (click)="reset()">
      Continuar
    </ion-button>
  </div>
</ion-footer>
